<div id="contain">
  <div class="row">
    <div class="col s12 m6 offset-m3 z-depth-2" id="search-card">
      <div class="row valign center-align">
        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>اختر فصيلة الدم</option>
            <option value="A+" >A+</option>
            <option value="A-" >A-</option>
            <option value="B+" >B+</option>
            <option value="B-" >B-</option>
            <option value="O+" >O+</option>
            <option value="O-" >O-</option>
            <option value="AB+" >AB+</option>
            <option value="AB-" >AB-</option>
          </select>
          <label>فصيلة الدم</label>
        </div>
        <div class="input-field col s12 m6">
          <select class="city">
            <option value="" disabled selected>اختر ولايتك</option>
          </select>
          <label>الولاية</label>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">بحث</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-m3 m6 z-depth-1-half" id="register-card">
      <div class="row">
        <%= form_for Donor.new ,:html => {:class =>"col s12"} ,:url => donors_path do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :name,:type=>"text",:class=>"validate" %>
              <%= f.label :name,"الاسم" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :phone_number,:type=>"text" ,:class=>"validate" %>
              <%= f.label :phone_number , "رقم الهاتف" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.select(:city, City.all.collect {|city| [ city.name, city.id ] },{prompt: 'اختر ولايتك'}) %>
              <label>الولاية</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :email,:type=>"email",:class=>"validate" %>
              <%= f.label :email,"البريد الالكتروني" %>
            </div>
          </div>
          <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">تسجيل متبرع جديد</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>