<div id="contain">
  <div class="row">

    <% flash.each do |name, msg| %>
        <div class="col s12 m12 l8 offset-l2 z-depth-2 message <%=name %>">
          <%= content_tag :div, msg%>
          <% if @donor.errors.any? %>
              <% @donor.errors.messages.values.each do |message| %>
                  <%message.each do  |m| %>
                    <div><%= m.to_sentence() %>-</div>
                  <% end %>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <%=form_tag "/available",:method => "post" do %>
        <div class="col s12 m12 l8 offset-l2 z-depth-2" id="search-card">
          <div class="row valign center-align">
            <div class="input-field col s12 m12 l6">
              <%= select_tag(:don_blood, options_for_select([["A+","A+"],["A-","A-"],["B+","B+"],["B-","B-"],["O+","O+"],["O-","O-"],["AB+","AB+"],["AB-","AB-"]]),{prompt: 'فصيلة الدم',required: true}) %>
              <label>فصيلة الدم</label>
            </div>
            <div class="input-field col s12 m12 l6">
              <%= select_tag(:don_city,options_for_select( City.all.collect {|city| [ city.name, city.id ] }),{prompt: 'اختر ولايتك',required: true}) %>
              <label>الولاية</label>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="action">بحث</button>
            </div>
          </div>
        </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col s12  m12 l8 offset-l2 z-depth-1-half" id="register-card">
        <div class="row">
          <%= form_for Donor.new ,:html => {:class =>"col s12"} ,:url => donors_path do |f| %>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix mdi-action-account-circle"></i>
                  <%= f.text_field :name,:type=>"text",:class=>"validate" %>
                  <%= f.label :name,"الاسم" %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix mdi-communication-phone"></i>
                  <%= f.text_field :phone_number,:type=>"number" ,:class=>"numericOnly validate" %>
                  <%= f.label :phone_number , "رقم الهاتف" %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.select(:city, City.all.collect {|city| [ city.name, city.id ] },{prompt: 'اختر ولايتك'}) %>
                  <label>الولاية</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix action"></i>
                  <%= f.select(:blood_type, options_for_select([["A+","A+"],["A-","A-"],["B+","B+"],["B-","B-"],["O+","O+"],["O-","O-"],["AB+","AB+"],["AB-","AB-"]]),{prompt: 'فصيلة الدم'}) %>
                  <label>فصيلة الدم</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix mdi-communication-email"></i>
                  <%= f.text_field :email,:type=>"email",:class=>"validate" %>
                  <%= f.label :email,"البريد الالكتروني" %>
                </div>
              </div>
              <div class="row center-align">
                <%= f.submit "تسجيل متبرع جديد" ,:class=>"btn"%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
            <div class="col s12  m12 l8 offset-l2 z-depth-1-half " id="stats">
              <table class="centered">
                <thead>
                <tr>
                  <th data-field="A+">A+</th>
                  <th data-field="A-">A-</th>
                  <th data-field="B+">B+</th>
                  <th data-field="B-">B-</th>
                  <th data-field="O+">O+</th>
                  <th data-field="O-">O-</th>
                  <th data-field="AB+">AB+</th>
                  <th data-field="AB-">AB-</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td><%= @donors.where(:blood_type=>'A+').count %></td>
                  <td><%= @donors.where(:blood_type=>'A-').count %></td>
                  <td><%= @donors.where(:blood_type=>'B+').count %></td>
                  <td><%= @donors.where(:blood_type=>'B-').count %></td>
                  <td><%= @donors.where(:blood_type=>'O+').count %></td>
                  <td><%= @donors.where(:blood_type=>'O-').count %></td>
                  <td><%= @donors.where(:blood_type=>'AB+').count %></td>
                  <td><%= @donors.where(:blood_type=>'AB-').count %></td>
                </tr>
                </tbody>
              </table>

            </div>
    </div>
    </div>
</div>